@import 'bootstrap/dist/css/bootstrap.css';

.traffic-light {
    background: black;
    padding: 10px;
    display: inline-block;
    margin: 50px; 
    text-align: center; 
}

.light {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px auto; 
    transition: box-shadow 0.3s ease; 
}


.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}


.glow {
    box-shadow: 0 0 15px 5px; /* Add the glow effect */
}

.red.glow {
    box-shadow: 0 0 15px 5px red;
}

.yellow.glow {
    box-shadow: 0 0 15px 5px yellow;
}

.green.glow {
    box-shadow: 0 0 15px 5px green;
}
